<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tournamentData ? tournamentData.tournament.name : '' }} - {{ game ? game.team1 + ' vs ' + game.team2 : '' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/teams/My Teams']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="tournamentData">
    <ion-row>
      <ion-col size="6" class="ion-no-margin divider-col" [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team1Id]">
          <ion-button expand='full' fill='clear'>Home</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-margin" [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team2Id]">
          <ion-button expand='full' fill='clear'>Away</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-no-margin ion-text-center divider-col" [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team1Id]">
        <ion-text><h4>{{ game.team1 }}</h4></ion-text>
      </ion-col>
      <ion-col size="6" class="ion-no-margin ion-text-center" [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team2Id]">
        <ion-text><h4>{{ game.team2 }}</h4></ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="top-bottom-border">
      <ion-col size="4" class="ion-no-margin ion-text-center" [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team1Id]">
        <ion-text [color]="isWinner(game.team1Score, game.team2Score)"><h3>{{ game.team1Score }}</h3></ion-text>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-text><p>Score</p></ion-text>
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-text-center" [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team2Id]">
        <ion-text [color]="isWinner(game.team2Score, game.team1Score)"><h3>{{ game.team2Score }}</h3></ion-text>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>{{ game.time | date: 'M/d/yy' }} {{ game.time | date:'shortTime' }}</ion-label>
      </ion-item>
      <ion-row>
        <ion-col size="7">
          <ion-label>{{ game.location }}</ion-label>
        </ion-col>
        <ion-col size="5">
          <ion-button fill="outline" (click)="goToMap()">
            <ion-icon name="map" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="outline" (click)="goToDirections()">
            <ion-icon name="navigate" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

</ion-content>
