<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tournamentData ? tournamentData.tournament.name : '' }} - {{ game ? game.team1 + ' vs ' + game.team2 : '' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/teams/My Teams']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <h3>Teams:</h3>
  <ion-list *ngIf="game">
    <ion-item [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team1Id]">
      <ion-label>{{game.team1}}</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tournaments', tournamentData.tournament.id, 'team-home', game.team2Id]">
      <ion-label>{{game.team2}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
