<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tournaments</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/teams/My Teams']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let tmnt of tournaments; let i = index"
    [routerLink]="['/teams/', tmnt.id]">
      <ion-label class="ion-text-center">{{ tmnt.name }}</ion-label>
    </ion-item>    
  </ion-list>

</ion-content>
