<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ teams }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tournaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button expand="block" [routerLink]="['/teams/March Madness']">
    March Madness Tournament
    </ion-button>
    <ion-button expand="block" [routerLink]="['/teams/Stanley Cup']">
    Stanley Cup
    </ion-button>
    
  </ion-list>

</ion-content>
