<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- IonInput and (input)="updateTeams()" don't work for live updates to text -->
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionChange)="updateTeams()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!isTournament">
    <!-- If no favorites selected -->
    <ion-card *ngIf="!favorites">
      <ion-card-header class="my-teams-header">No Followed Teams</ion-card-header>
      <ion-card-content>
        <p>You are not following any teams.</p>
        <p>First select a tournament, then find a team to follow.</p>

      </ion-card-content>
      <ion-card-footer>
        <ion-button expand='full' [routerLink]="['/tournaments']">
          <ion-icon name='search' slot='end'></ion-icon>
          Find a Tournament
        </ion-button>
      </ion-card-footer>
    </ion-card>
    <!-- If Favorites are filled -->
    <ion-card *ngIf="favorites">
      <ion-card-header class="my-teams-header">Followed Teams</ion-card-header>
      <ion-list>
        <ion-item *ngFor="let item of favorites"
        [routerLink]="['/tournaments', item.tournamentId, 'team-home', item.team.id]">
          <ion-icon name="star" slot="end"></ion-icon>
          <ion-label class="ion-text-wrap">
            <ion-text>{{ item.team.name }}</ion-text>
            <p>{{ item.tournamentName }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button expand='full' fill='clear' [routerLink]="['/tournaments']">
      <ion-icon name='search' slot='end'></ion-icon>
      Find a Tournament
    </ion-button>
  </div>
</ion-content>
