<ion-header *ngIf="vm$ | async as vm">
  <app-page-header [headerTitle]="vm.team.name"></app-page-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="vm.segment">
      <ion-segment-button value="details">
        Details
      </ion-segment-button>
      <ion-segment-button value="standings">
        Standings
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="vm$ | async as vm">
    <app-team-detail *ngIf="vm.segment === 'details'" [team]="vm.team" [teamStanding]="vm.standing" [tournament]="vm.tournament"></app-team-detail>
    <app-team-standing *ngIf="vm.segment === 'standings'" [standing]="vm.standing" [team]="vm.team" [tournamentData]="vm.tournament.data"></app-team-standing>
  </div>
</ion-content>

